/* === Meyer Reset v2.0 === */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* === Base === */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* === Layout === */
#index {
  width: 215px;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  overflow: auto;
}

#exhibit {
  margin: 0 0 0 215px;
  min-height: 100%;
}

#index .container,
#exhibit .container {
  padding: 27px 9px 25px 27px;
}

/* === Typography === */
h1, h2, h3, h4 {
  font-size: 16px;
  margin-bottom: 1em;
}

h1, h2 {
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

small {
  font-size: 9px;
}

blockquote {
  padding-left: 9px;
}

/* === Links === */
a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #888;
}

#exhibit a {
  text-decoration: underline;
}

#exhibit a:hover {
  text-decoration: none;
}

/* === Navigation === */
#index ul.section {
  margin-bottom: 0;
}

#index ul.section span.section-title {
  display: block;
  margin-bottom: 0;
}

#index ul.section span.section-title.active {
  font-weight: bold;
}

#index ul.section li.exhibit-title a {
  text-decoration: none;
  color: #000;
}

#index ul.section li.exhibit-title a:visited {
  color: #888;
}

#index ul.section li.exhibit-title a:hover {
  text-indent: 2px;
}

#index ul.section li.exhibit-title a.active {
  color: #00f;
  font-weight: normal;
}

/* === Header & Footer === */
#index .header {
  margin-bottom: 1em;
}

#index .footer {
  margin-top: 1em;
  font-size: 0.7em;
  color: #888;
}

/* === Exhibit Content === */
#exhibit p,
#exhibit code,
#exhibit blockquote {
  max-width: 600px;
  margin-bottom: 1em;
}

#exhibit .picture {
  line-height: 0;
  margin-bottom: 0;
}

#exhibit .picture img {
  max-width: 100%;
  height: auto;
}

#exhibit .captioning {
  margin: 0.5em 0 1em 0;
  padding: 0;
  line-height: 1.3em;
}

#exhibit .captioning .title {
  font-size: 0.7em;
  font-style: italic;
  line-height: 1.2em;
}

#exhibit .captioning .caption {
  font-size: 0.7em;
  font-style: italic;
  line-height: 1.2em;
}

/* === Hamburger / Mobile Toggle === */
.index-toggle {
  display: none;
}

#closing-layer {
  display: none;
}

#nav-toggle {
  display: none;
}

/* === Mobile === */
@media only screen and (max-width: 736px) {
  body {
    font-size: 13px;
    line-height: 1.3em;
  }

  h1, h2, h3, h4 {
    font-size: 13px;
  }

  #index {
    left: -100vw;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 9997;
    transition: left 150ms ease-in-out;
    position: fixed;
  }

  #index.open {
    left: 0;
  }

  #exhibit {
    margin-left: 0;
    padding-bottom: 30px;
  }

  #index .container,
  #exhibit .container {
    padding: 15px;
  }

  #exhibit img,
  #exhibit object {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  #exhibit p,
  #exhibit code,
  #exhibit blockquote {
    max-width: none;
    width: auto;
  }

  /* Hamburger button */
  .index-toggle {
    display: block;
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 5000000;
    width: 35px;
    height: 35px;
    background: #fff;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  #nav-toggle {
    display: block;
    position: relative;
    width: 25px;
    height: 17px;
    margin: 9px auto 0;
  }

  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    height: 3px;
    width: 25px;
    background: #000;
    display: block;
    content: '';
    position: absolute;
    transition: all 250ms ease-in-out;
  }

  #nav-toggle span {
    top: 7px;
  }

  #nav-toggle span:before {
    top: -7px;
  }

  #nav-toggle span:after {
    top: 7px;
  }

  #nav-toggle.active span {
    background-color: transparent;
  }

  #nav-toggle.active span:before {
    top: 0;
    transform: rotate(45deg);
  }

  #nav-toggle.active span:after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* Closing overlay */
  #closing-layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9996;
  }

  #closing-layer.visible {
    display: block;
  }
}
